/*****************************************************/
/*** TYPO FOR TITLE
/*****************************************************/

@font-face {
  font-family: "Nunito-Regular";
  src: url("../fonts/Nunito/static/Nunito-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("../fonts/Nunito/static/Nunito-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nunito-Medium";
  src: url("../fonts/Nunito/static/Nunito-Medium.ttf");
  font-display: swap;
}

/*****************************************************/
/*** TYPO FOR PARAGRAPH
/*****************************************************/

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato/Lato-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato/Lato-Bold.ttf");
  font-display: swap;
}


@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato/Lato-Black.ttf");
  font-display: swap;
}

