*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body {
  font-size: 14px;
  font-family: "Lato-Regular";
  line-height: 1.3;
  color: $color_black;
}

a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

h1,
h2,
h3,
h4 {
  font-family: "Nunito-Bold";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  border: none;
  line-height: 0;
  display: block;
}

svg {
  width: 24px;
  height: 24px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px transparent inset !important;
  font-family: inherit !important;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: none;
  outline: none;
}

textarea {
  overflow: auto;
}

*[hidden] {
  display: none;
}

*::-webkit-scrollbar {
  display: none;
}
