<div class="wrapper">
  <app-btn-back></app-btn-back>
  <div class="cart">
    <div class="cart_content container">
      <div class="cart_title">
        <h1>Panier</h1>
      </div>

      <div class="food_locate">
        <div class="locate_icon">
          <span class="icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4.23913 10.3913C4.25354 6.15071 7.70289 2.72471 11.9435 2.73912C16.1841 2.75353 19.6101 6.20288 19.5957 10.4435V10.5304C19.5435 13.2869 18.0043 15.8348 16.1174 17.8261C15.0382 18.9467 13.8331 19.9388 12.5261 20.7826C12.1766 21.0849 11.6582 21.0849 11.3087 20.7826C9.3602 19.5143 7.65007 17.9131 6.25652 16.0522C5.01448 14.4294 4.3093 12.4597 4.23913 10.4174L4.23913 10.3913Z"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <circle
                cx="11.9174"
                cy="10.5391"
                r="2.46087"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </div>

        <div class="locate_info">
          <p>Adresse de livraison,</p>
          <h3>Inene 06, Limete 1ere funa, Kinshasa</h3>
        </div>
      </div>

      <div class="cart_food_content">
        <div class="cart_food">
          <div class="cart_fd_box">
            <div class="cart_fd_img">
              <img src="../../../assets/img/food/13.jpeg" alt="" />
            </div>

            <div class="cart_fd_info">
              <div class="cart_fd_head">
                <h3>Mayebo avec la soupe à la moambe</h3>
                <p>3500 fc</p>
              </div>

              <div class="cart_fd_quantiy">
                <div class="minus">
                  <span class="icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="512"
                      height="512"
                      viewBox="0 0 512 512"
                    >
                      <line
                        x1="400"
                        y1="256"
                        x2="112"
                        y2="256"
                        style="
                          fill: none;
                          stroke: currentColor;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          stroke-width: 32px;
                        "
                      />
                    </svg>
                  </span>
                </div>

                <div class="count">
                  <span class="count_number" contenteditable="true">1</span>
                  <span>x</span>
                </div>

                <div class="plus">
                  <span class="icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="512"
                      height="512"
                      viewBox="0 0 512 512"
                    >
                      <line
                        x1="256"
                        y1="112"
                        x2="256"
                        y2="400"
                        style="
                          fill: none;
                          stroke: currentColor;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          stroke-width: 32px;
                        "
                      />
                      <line
                        x1="400"
                        y1="256"
                        x2="112"
                        y2="256"
                        style="
                          fill: none;
                          stroke: currentColor;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          stroke-width: 32px;
                        "
                      />
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="cart_fd_price">
            <span class="icon">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.3249 9.4682C19.3249 9.4682 18.7819 16.2032 18.4669 19.0402C18.3169 20.3952 17.4799 21.1892 16.1089 21.2142C13.4999 21.2612 10.8879 21.2642 8.2799 21.2092C6.9609 21.1822 6.1379 20.3782 5.9909 19.0472C5.6739 16.1852 5.1339 9.4682 5.1339 9.4682"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M20.7082 6.23972H3.7502"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M17.4406 6.2397C16.6556 6.2397 15.9796 5.6847 15.8256 4.9157L15.5826 3.6997C15.4326 3.1387 14.9246 2.7507 14.3456 2.7507H10.1126C9.5336 2.7507 9.0256 3.1387 8.8756 3.6997L8.6326 4.9157C8.4786 5.6847 7.8026 6.2397 7.0176 6.2397"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="cart_bottom container">
      <hr>
      <div class="cart_bt_infos">
        <div class="cart_bt_box">
          <p>Total</p>
          <p class="price">2300 fc</p>
        </div>
        <div class="cart_bt_box">
          <p>Livraison</p>
          <p class="price">3000 fc</p>
        </div>
        <div class="cart_bt_box">
          <p>Sous total</p>
          <p class="price">2300 fc</p>
        </div>
      </div>

      <div class="cart_btn_pay">
        <button class="button" (click)="goToPayment()">Procéder au paiement</button>
      </div>
    </div>
  </div>
</div>
