<div class="wrapper">
  <app-btn-back></app-btn-back>
  <div class="track">
    <div class="track_content">
      <div class="title container">
        <h1>Suivi de commande</h1>
      </div>
      <div class="track_position" id="mapId"></div>

      <div class="detail_delivery container">
        <div class="detail_deliv_title">
          <h2>Détails de la livraison</h2>
        </div>

        <div class="detail_delivery_content">
          <div class="detail_timelines">
            <div class="timeline_circle active"></div>
            <div class="timeline_circle active"></div>
            <div class="timeline_circle active"></div>
            <div class="timeline_circle"></div>
          </div>

          <div class="detail_box_content">
            <div class="detail_box">
              <h3>Traités et prêts à être livrés</h3>
              <p>
                Votre colis a été traité et sera envoyé à notre partenaire de
                livraison.
              </p>
            </div>

            <div class="detail_box">
              <h3>Colis est envoyé par</h3>
              <div class="delivery_boy">
                <div class="dlvery_boy_profil">
                  <div class="dlvery_boy_image">
                    <img src="../../../assets/img/delivery.jpeg" alt="" />
                  </div>
                  <div class="dlvery_boy_name">
                    <h4>Husen ali</h4>
                    <p>N° +243 89 52 43 516</p>
                  </div>
                </div>
                <div class="dlvery_contact">
                  <a href="tel:+243895243516">
                    <span class="icon">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M2.99033 4.87254C3.30665 4.34878 5.0495 2.44376 6.29322 2.50127C6.665 2.53208 6.99364 2.75699 7.26067 3.01784C7.87379 3.61656 9.62897 5.88101 9.72859 6.35753C9.97096 7.52621 8.57833 8.1999 9.00454 9.37783C10.0911 12.0366 11.9634 13.9088 14.6233 14.9943C15.8003 15.4205 16.474 14.0279 17.6428 14.2713C18.1183 14.3709 20.3839 16.126 20.9826 16.7391C21.2425 17.0051 21.4684 17.3347 21.4992 17.7065C21.5454 19.0159 19.5222 20.7833 19.1278 21.0092C18.1974 21.6747 16.9834 21.6634 15.5035 20.9753C11.3739 19.2572 4.77426 12.7822 3.02422 8.49669C2.35461 7.02505 2.30839 5.80297 2.99033 4.87254Z"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>

                  <a href="">
                    <span class="icon">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M7.69524 13.3909C7.05048 13.3909 6.52667 12.8671 6.52667 12.2223C6.52667 11.5794 7.05048 11.0556 7.69524 11.0556C8.34001 11.0556 8.86382 11.5794 8.86382 12.2223C8.86382 12.8671 8.34001 13.3909 7.69524 13.3909ZM12.2381 13.3909C11.5933 13.3909 11.0695 12.8671 11.0695 12.2223C11.0695 11.5794 11.5933 11.0556 12.2381 11.0556C12.8829 11.0556 13.4067 11.5794 13.4067 12.2223C13.4067 12.8671 12.8829 13.3909 12.2381 13.3909ZM15.6125 12.2223C15.6125 12.8671 16.1363 13.3909 16.7811 13.3909C17.4258 13.3909 17.9496 12.8671 17.9496 12.2223C17.9496 11.5794 17.4258 11.0556 16.7811 11.0556C16.1363 11.0556 15.6125 11.5794 15.6125 12.2223Z"
                          fill="currentColor"
                        />
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M12.02 2C6.21 2 2 6.74612 2 12.015C2 13.6975 2.49 15.4291 3.35 17.0115C3.51 17.2729 3.53 17.6024 3.42 17.9139L2.75 20.1572C2.6 20.698 3.06 21.0976 3.57 20.9374L5.59 20.3375C6.14 20.1572 6.57 20.3866 7.08 20.698C8.54 21.5583 10.36 22 12 22C16.96 22 22 18.1642 22 11.985C22 6.65598 17.7 2 12.02 2Z"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>

            <div class="detail_box">
              <h3>Trajet du colis jusqu'à la livraison</h3>
              <p>
                Votre colis est en cours de livraison, il arrivera dans 5 à 10
                min
              </p>
            </div>

            <div class="detail_box">
              <h3>Colis est Livré</h3>
              <p>
                Inene 06, Limete 1ere funa, Kinshasa
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
